html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

figure {
  float: right;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

#imagesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  width: auto;
  margin-top: 3em;
}

#imagesContainer img {
  width: auto;
  max-height: 200px;
  margin: 10px;
  box-shadow: 1px 4px 10px;
  background-color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar * {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 6px 16px;
  text-decoration: none;
}

.navbar input {
  color: black;
}

.navbar *:last-child {
  float: right;
}

.navbar title {
  font-size: 1.5em;
}

.edit {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #imagesContainer img {
    width: 150px;
  }

  #imagesContainer {
    margin-top: 5em;
  }
}

.center-vertically {
  display: flex;
  align-items: center;
}

@media (max-width: 820px) {
  #submit-text {
    display: none;
  }
}

#logo {
  padding: 6px 16px;
  padding-right: 0px;
}

#logo * {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}
