
body {
  background-color: #f2f2f2;
}

h1 {
  font-size: 3em;
}

label, button, p {
  font-size: 2.5em;
}

input[type=text], select, textarea {
  font-size: 2em;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 0.5em;
  display: inline-block;
}

input[type=file] {
  opacity: 0;
  width: 0px; 
}

#submit {
  font-size: 2em;
  background-color: #4CAF50;
  color: white;
  width: 10em;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#file_list div * {
  margin: 1em 0.5em;
  display: inline-block;
}

#form {
  width: 90%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0em 2em 2em 2em;
}

#form div:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: inherit;
}
